<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--Estilos CSS-->
	<link rel="stylesheet" href="css/estilos.css">
	<!--Fuentes-->
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">

	<title>Galletas</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light colornavbar">
		<div class="container-fluid">
			<a style="text-align:left !important;" class="navbar-brand display-4" th:href="@{/index}">
				<img th:src="@{img/img_recetas/donalogo.jpg}" alt="Inicio" class="d-inline-block align-text-top logo">
				Inicio
			</a>
		</div>
	</nav>
	<div class="container">
		<h1 class="display-4">Galletas</h1>
		<p class="lead">"Una dieta balanceada es tener una galleta en cada mano"</p>
	</div>
	<!--Aqui empiezan las imagenes-->
	<div class="card-deck espaciocard">
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-de-coco" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletacoco.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas de coco</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-de-zanahoria-y-avena" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletaZanahoria.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas de zanahoria y avena</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-con-chips-chocolate" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletasChips.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas con chips de chocolate</h5>
			</div>
		</div>
	</div>

	<div class="card-deck espaciocard">
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-red-velvet" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletasRed.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas Red Velvet</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-mega-omega" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletaOmega.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas mega omega</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/galletas-leche-condensada-avena-banano" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/galletaAvena.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Galletas de avena y plátano</h5>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>