<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!--Estilos CSS-->
	<link rel="stylesheet" href="css/estilos.css">
	<!--Fuentes-->
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Raleway:500,600&display=swap" rel="stylesheet">

	<title>Postres</title>
</head>

<body>
	<nav class="navbar navbar-light bg-light colornavbar">
		<div class="container-fluid">
			<a style="text-align:left !important;" class="navbar-brand display-4" th:href="@{/index}">
				<img th:src="@{img/img_recetas/donalogo.jpg}" alt="Inicio" class="d-inline-block align-text-top logo">
				Inicio
			</a>
		</div>
	</nav>
	<div class="container">
		<h1 class="display-4">Postres</h1>
		<p class="lead">"Cuando sientas que no puedes más ¡No te rindas! Aún te falta el postre"</p>
	</div>
	<!--Aqui empiezan las imagenes-->
	<div class="card-deck espaciocard">
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/paletas-de-coco" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/paletacoco.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Paletas de coco</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/postre-de-frutas-tropicales" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/postrefrutas.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Postre de frutas tropicales</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/parfait-vainilla-fruta" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/parfait.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Parfait de vainilla con frutas y chocolate</h5>
			</div>
		</div>
	</div>

	<div class="card-deck espaciocard">
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/pudin-de-banano" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/pudinplatano.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Plátano cream</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/vasitos-de-cheesecake-mango" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/VasitosCheesecake.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Vasitos de cheesecake con mango</h5>
			</div>
		</div>
		<div class="card border border-warning">
			<a href="https://www.recetasnestle.com.co/recetas/postre-de-maracuya" target=_blank>
				<img class="card-img-top" th:src="@{img/img_recetas/postreMaracuya.jpg}">
			</a>
			<div class="card-body">
				<h5 class="card-title">Postre de maracuyá</h5>
			</div>
		</div>
	</div>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
		integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
		crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
		integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
		crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>
</body>

</html>