.jumbotron {
	background-color: rgb(209, 238, 248);
	padding: 1rem 2rem;
}

.titulo {
	text-align: center;
}

.fondo {
	background-color: white;
}

.carousel-inner {
	 max-width:"620px"; 
	 height:"450px"
}









